body{
	font-family: Open Sans;
}

#header{
	background: url(https://image.ibb.co/kWK1Rw/main_900.jpg);
	background-size: cover;
	background-position: 0px -200px;
	width: auto;
	height: 50vmin;
}

.content{
	padding-top: 3%;
	color: white;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

.title-color{
	color: #257059;
}

.my-2{
	border-top-color: #27566B;
	border-width: 1px;
}

.title-text{
	font-family: Playfair Display;
	font-size: 7vmin;
}

.content-text{
	font-family: Open Sans;
	font-size: 3vmin;
}

.top-space{
	padding-top: 3%;
}

.features-text{
	font-size: 3vmin;
}

